@{
    ViewData["Title"] = "Calculator";
}

@model CalculateData

<div class="all_output">
    <button class="inj_btn" onclick="ClearHistory()">Clear history</button>
    <div id="scrollArea" class="scrollArea"></div>
    <textarea readonly type class="output_line" id="ResultLine" name="RawString"></textarea>
</div>

<script>
    AddLine("test");
</script>