@{
    ViewData["Title"] = "Calculator";
}

<div class="all_output">
    <button class="inj_btn" onclick="addToDisplay(3)">Clear history</button>
    <label class="history">History</label>
    <label class="output_line" id="ResultLine"></label>
</div>

