@{
    ViewData["Title"] = "Calculator";
}

<div class="all_keyboard">
    <div>X min</div>
    <input type="number" id="xMin" />
    <div>X max</div>
    <input type="number" id="xMax" />
    <button class="inj_btn" onclick="OnDraw()">Draw Graph</button>
</div>

