html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.all_keyboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
}

.inj_keyboard {
    background: #A24FEA;
}

.main_keyboard {
    background: #44EB99;
}