@{
    ViewData["Title"] = "Calculator";
}

@model CalculateData
    <div id="scrollArea" class="scrollArea">
        <div class="all_output">
            <label>On this page you will find a description of the main functions and features of this application.</label>
            <label>When you start the application, the main window with the calculator application will open.</label>
            <img src="@Url.Content("/Content/Images/calcscreenout.png")" alt="data base" style="height: 500px;" />
            <label>On this page, you can enter a mathematical expression and calculate it.</label>
            <img src="@Url.Content("/Content/Images/btns.png")" style="height: 500px;" />
            <label>The output of the expression will be produced in the main area presented below</label>
            <img src="img/btns.png" alt="btns" style="height: 500px;" />
            <label>Below it are control buttons that will allow you to enter numbers and operators for the calculation.</label>
            <img src="img/fnc2.png" alt="fnc2" style="height: 500px;" />
            <label>On the right are additional operators for calculating trigonometric functions and operators</label>
            <label>The program also provides additional functionality.</label>
            <img src="img/menuscreenbtn.png" alt="menuscreenbtn" style="height: 500px;" />
            <label>You can access it by pressing the menu button.</label>
            <img src="img/menuscreen.png" alt="menuscreen" style="height: 500px;" />
            <label>
                In the area that appears, links to:\n
                main window with calculator\n
                window for plotting a function graph\n
                calculation history window\n
                help page
            </label>

            <img src="img/chartscreen.png" alt="chartscreen" style="height: 500px;" />
            <label>On the graph page, you can visualize the graph of the function entered in the calculator.</label>

            <label>To do this, you need to write an expression using the X variable.</label>
            <label>It will be loaded from the main window onto the chart page and written in this area.</label>

            <img src="img/chartscreen2.png" alt="chartscreen2" style="height: 500px;" />
            <label>Specify the range of X values from - 1000000 to 1000000 and the amount of X change.</label>
            <label>The calculation may take too long.</label>

            <label>After clicking on the draw button, the graph will be drawn.</label>

            <img src="img/historyscreen.png" alt="historyscreen" style="height: 500px;" />
            <label>The history page will display all calculations and expressions that were recorded in the main window after pressing the = button.</label>

            <img src="img/historyscreen1.png" alt="historyscreen1" style="height: 500px;" />
            <label>All data is saved between program restarts.</label>
            <label>You can transfer any line from the history to the main window by clicking on it.</label>

            <img src="img/historyscreen2.png" alt="historyscreen2" style="height: 500px;" />
            <label>Click on Clear button to remove all history.</label>

        </div>
    </div>