@{
    ViewData["Title"] = "Calculator";
}

@model  CalculateData

<div class="main_layout">
    <div>
        @{Html.RenderPartialAsync("_CalcOutput");}
    </div>
    <div>
        @{Html.RenderPartialAsync("_CalcInput");}
    </div>
</div>

