@{
    ViewData["Title"] = "Calculator";
}

@model  Model

<div class="text-center">
    <div>
        @*@{Html.RenderPartial("CalcOutput");}*@
    </div>
    <div>
        @{Html.RenderPartial("_CalcInput");}
    </div>
</div>

